/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

:root {
    --base-color: rgba(183, 146, 22);
    --secondary-color: rgba(255, 226, 0, 0.75);
    --footnote-color:  rgb(80, 80, 80);
    --base-background-color: rgba(30,30,30);
    --base-background-scondary-color: rgb(20, 20, 20);
   }

.v-app {
    min-height: 100vh;

}
.v-app-bar.v-toolbar{
    background-color: var(--base-background-color);
    color: var(--base-color-75);
}
.header {
    margin-top: 2rem;
    background-color: var(--base-background-color);
}
.v-main {
    height: 85vh;
    overflow: auto;
    background-color: var(--base-background-color);
    color:white
}

.footer{
    display: flex;
    height: 15vh;
    flex-direction: column;
    padding-right: 20rem;
    padding-left: 25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    justify-items: center;
    color: var(--secondary-color);
    background-color:  var(--base-background-scondary-color)
}

.footnote{
 color: var(--footnote-color);
 font-size: medium;
}

.imprint{
    color: var(--secondary-color);
}

.hivesoundWaves{
    background-image: url('@/assets/waves-hs-website-50.svg');
    background-size: 100% 100%;

}

.vision {
    background-color: var(--base-color);
    border-radius: 10px;
}

.nostyle {
 color: var(--secondary-color);
 text-decoration: none !important;
}

.v-container {
    padding-left: 15rem;
    padding-right: 15rem;
}

.stripe {
    background-color: var(--base-color);
}