/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

:root {
    --base-color: rgba(183, 146, 22);
    --base-color-80: rgba(183, 146, 22, 0.8);
    --secondary-color: rgba(255, 226, 0, 0.75);
    --secondary-color-50: rgba(255, 226, 0, 0.5);
    --footnote-color:  rgb(80, 80, 80);
    --base-background-color: rgba(30,30,30);
    --base-background-gradient: linear-gradient(142deg, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 35%, rgba(30,30,30,1) 100%);
    --base-background-color-70: rgba(30,30,30, 0.7);
    --base-background-scondary-color: rgb(25, 25, 25);
   }

.v-app {
    min-height: 100vh;

}
.v-app-bar.v-toolbar{
    color: var(--base-color-75);
    background: inherit;
}
.header {
    margin-top: 2rem;
    background-color: inherit;
}
.v-main {
    overflow: auto;
    color:white;
    background: var(--base-background-gradient);
    margin-bottom: 5rem;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.footer{
    min-height: 15vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--secondary-color);
    background-color: var(--base-background-scondary-color-);
}

.footnote{
 color: var(--footnote-color);
 font-size: medium;
}

.imprint{
    color: var(--secondary-color);
}

.hivesound-waves{
    background-image: url('@/assets/waves-hs-website-50.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.idea {
    background-color: var(--base-background-color-70);
    border-radius: 10px;
}

.nostyle {
 color: var(--secondary-color);
 text-decoration: none !important;
}

.v-container {
    padding-left: 15rem;
    padding-right: 15rem;
}

.stripe {
    background-color: var(--base-color);
}

.no-margin-x {
    margin-right: -48px !important;
    margin-left: -48px !important;
}

.partner  {
    background-color: var(--base-background-color-70);
}

.team {
    height: 50vh;
    margin-bottom: 15rem;
}

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

/* Apply the animation to your v-icon */
.arrow-icon {
animation-name: fade;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

.impact {
    background-color: var(--base-background-color-70);
}