// app global css in SCSS form

body.body--dark {
  color: $secondary;
}

.hivesound-waves{
  background-image: url('../assets/waves-hs-website-50.svg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: 0;
}

.arrow-icon {
  animation-name: fade;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.header {
  background-color: $dark-page;
}

.footer {
  background-color: $dark;
  position: absolute;
}

.impact {
  background: $dark-transperent;
  border-radius: 5px;
}

h1, h2, h3, h4 {
  font-size: 24px;
  margin: 0;
}

.text-subtitle-1 {
  font-size: 1rem;
}

/* styles for desktop screens */
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: normal;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: normal;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: normal;
  }

  h4 {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: normal;
  }
}

/* styles for mobile screens */
@media (max-width: 767px) {
  h1 {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal;
  }

  h4 {
    font-size : 1rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal;
  }

}

.footnote{
  color: $footnote;
 }

 .imprint{
     color: $primary;
     text-decoration: none !important;
 }

 .partner {
  min-height: 50vh;
 }